body {
    padding: 50px 100px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
}

.link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #B8BECD;
    margin-right: 34px;
}

.active {
    font-weight: 500;
    color: #202336;
}

.login {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FB8F1D;
    padding: 15px 46px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    margin-right: 18px;
}

.register {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    padding: 15px 36px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background: #FB8F1D;
}

.holiday-finder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.finder .main-text {
    font-family: 'Playfair Display', Serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}

.find {
    margin-top: 74px;
}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.line {
    width: 32px;
    height: 0px;
    border-bottom: 2px solid #000000;
    margin-top: 21px;
}

.find-holiday {
    margin-top: 13px;
}

.selection {
    margin-top: 35px;
    border: 0.8px solid #AFB0B9;
    width: 220px;
    height: 52px;
    border-radius: 6px;
    padding-left: 31px;
}

.mr-30 {
    margin-right: 30px;
}

.explore {
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background: #FB8F1D;
    padding: 21px 60px;
    margin-top: 51px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
}

.heading {
    font-family: 'Playfair Display', Serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}

.info .main-text {
    font-family: 'Mulish',sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    margin-top: 20px;
}

.learn-more {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border: 1px solid #FB8F1D;
    background: #FB8F1D;
    border-radius: 8px;
    padding: 19px 37px;
    margin-top: 39px;
}

.featured-destinations {
    margin-top: 300px;
}

.featured-destinations .text {
    display: flex;
    justify-content: space-between;
}

.text .main-text {
    font-family: 'Playfair Display', Serif;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.text .view-all {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: #FB8F1D;
}

.featured-destinations .preview {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.preview .image {
    position: relative;
}

.image .location {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 56px;
    background: #FFFFFF;
    border-top-right-radius: 8px;
}

.location .place {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #042521;
    margin-top: 11px;
}

.location .country {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #80918E;
    bottom: 5px;
}